<h1 class='container'>All recipes
  <% if @user==current_user %>
    <button><%= link_to "Add new Recipe", new_user_recipe_path %></button>
  <% end %>
</h1>
<div class='recipes container'>
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <%end%>
</div>
