<div class='flex-col'>
	<div class="recipe-container ">
	<div class='header-recipe'>
  	<h1>All recipes</h1>  
  	<% if @user==current_user %>
    	<button><%= link_to "Add new Recipe", new_user_recipe_path, class: "add-recipe"%></button>
  	<% end %>
	</div>

	<div class='content-recipe'>
  	<% @user.recipes.each do |recipe| %>
    	<%= render recipe %>
  	<%end%>
	</div>
	</div>
</div>
