/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

:root {
  --color-black: #000;
  --font-color: #2f2f2f;
  --light-gray: #ddd;
  --nav-background: #f0f1f1;
  --links-background: #0d6efd;
  --delete-button: #bb2d3b;
  --add-button: #157347;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: "Roboto", sans-serif;
}

.index {
  width: 100%;
  position: relative;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
}

.flex-row {
  display: flex;
}

/* NAVBAR */

.navbar {
  background: var(--nav-background);
  margin-bottom: 20px;
  padding: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav {
  width: 100%;
  height: 50px;
  padding: 20px;
  align-items: center;
  column-gap: 30px;
}

.nav li {
  list-style: none;
  padding: 4px;
}

.nav li a {
  font-size: 1rem;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 800ms ease;
}

.nav li a:hover {
  background-color: var(--links-background);
  color: var(--nav-background);
}

.nav li:nth-child(1) a {
  font-size: 1.7rem;
  text-decoration: none;
  font-weight: 700;
  padding: 5px;
  background-color: transparent;
  transition: all 800ms ease;
}

.nav li:nth-child(1) a:hover {
  color: var(--links-background);
  text-decoration: underline;
}

/* FOOD INDEX */

.btn-add {
  text-decoration: none;
  padding: 12px;
  border: 1px solid var(--color-black);
  border-radius: 4px;
  color: var(--font-color);
  position: absolute;
  top: 0;
  right: 50px;
  transition: background-color 800ms ease, color 800ms ease;
}

.btn-add:hover {
  background-color: var(--add-button);
  color: var(--nav-background);
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.table-container {
  width: 60%;
  border: 3px solid var(--color-black);
}

/* FOOD FORM */
.food-form {
  width: 30%;
  padding: 20px;
  background-color: var(--light-gray);
}

.text-field {
  width: 100%;
  margin: 5px 0 5px 0;
  justify-content: space-between;
}

.text-field label {
  font-size: 1.2rem;
}

.text-field input {
  padding: 4px;
}

.submit {
  width: 100%;
  padding: 10px;
}

/* USER INDEX */

.user-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.users {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--nav-background);
}

.users h2 {
  font-size: 1.8rem;
  margin: 5px;
}

.user {
  padding: 20px;
  border: 2px solid var(--color-black);
}

.user-name {
  text-decoration: none;
  transition: color 800ms ease;
}

.user-name:hover {
  color: var(--links-background);
}

/* RECIPE INDEX */

.recipe-container {
  background-color: var(--nav-background);
  padding: 12px;
  border-radius: 4px;
  width: 60%;
}

.header-recipe {
  display: flex;
  margin: 5px;
  gap: 10px;
}

.header-recipe button {
  padding: 10px;
  background: none;
  border: 1px solid black;
  border-radius: 4px;
  transition: background-color 800ms ease;
}

.header-recipe button:hover {
  background-color: var(--add-button);
  color: var(--nav-background);
}

.add-recipe {
  text-decoration: none;
  transition: color 800ms ease;
}

.add-recipe:hover {
  color: var(--nav-background);
}

.content-recipe {
  display: flex;
  flex-direction: column;
}

/* PUBLIC RECIPE */

.recipe {
  display: flex;
  width: 30%;
  padding: 12px;
  border: 1px solid black;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  background-color: var(--nav-background);
}

.recipe-b {
  display: flex;
  flex-direction: column;
  margin: 5px 0 5px 0;
  padding: 10px;
  width: 100%;
  background-color: var(--nav-background);
  border: 1px solid black;
  border-radius: 4px;
}

.recipe-header {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.recipe-header p :nth-child(1) {
  font-size: 1.5rem;
}

.public-link {
  text-decoration: none;
  transition: color 800ms ease;
}

.public-link:hover {
  color: var(--links-background);
}

.recipe-amount {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* RECIPE SHOW */

.show-recipe {
  display: flex;
  width: 40%;
  background-color: var(--light-gray);
  border: 1px solid black;
  border-radius: 4px;
}

.section-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin: 1rem 0.5rem;
  gap: 5px;
}

.section-a ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-a ul li {
  list-style: none;
}

.shop-list {
  padding: 5px;
  width: 50%;
}

.shop-link {
  color: var(--font-color);
  text-decoration: none;
}

.section-b {
  flex-grow: 1;
}

.section-b ul {
  display: flex;
  padding: 10px;
}

.public {
  color: var(--add-button);
  font-weight: 500;
  font-size: 1.5rem;
}

.private {
  color: var(--links-background);
  font-weight: 500;
  font-size: 1.5rem;
}

.shop-content {
  width: 60%;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 5px;
  font-size: 1.2rem;
}

/* LOGIN */

.new-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--nav-background);
  width: 400px;
  padding: 40px;
  border-radius: 6px;
  margin-top: 5%;
  border: 0.5px solid black;
  transition: transform 800ms ease;
}

.new-cont:hover {
  transform: scale(1.3);
}

.new-cont form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.new-cont form label {
  font-size: 1.1rem;
  font-weight: 500;
}
